# Python
venv/
.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environment / secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
dist/
frontend/.vite/
